<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.mapper.MovieMapper">
    <!--    无法识别时使用ResultMap-->
    <resultMap id="movieResultMap" type="com.neu.pojo.Movie">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="published_year" property="year"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="selectAllMovie" resultMap="movieResultMap">
        select * from movie
    </select>

    <select id="selectMovieById" resultMap="movieResultMap" parameterType="com.neu.pojo.Movie">
        select * from user where id=#{id}
    </select>

    <insert id="addMovie" parameterType="com.neu.pojo.Movie">
        insert into movie values(#{id}, #{name}, #{year}, #{type})
    </insert>

    <update id="modifyMovie">
        update movie set id=#{id}, name=#{name}, published_year=#{year},type=#{type}
    </update>

    <delete id="deleteMovieById">
        delete from movie where id=#{id}
    </delete>
</mapper>