<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.mapper.MovieMapper">
    <!--    无法识别时使用ResultMap-->
    <resultMap id="movieResultMap" type="com.neu.pojo.Movie">
        <result column="type" property="typeInfo"></result>
    </resultMap>
    <insert id="addMovie">
        insert into movies values(#{id}, #{name}, #{publishedYear}, #{typeInfo}, #{rate})
    </insert>
    <update id="modifyMovie">
        update movies
        <set>
            name=#{name}, published_year=#{publishedYear}, type=#{typeInfo}, rate=#{rate}
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <delete id="deleteMovieById">
        delete from movies where id = #{id}
    </delete>

    <select id="selectAllMovie" resultMap="movieResultMap">
        select * from movies
    </select>
    <select id="selectMovieById" resultMap="movieResultMap">
        select * from movies where id = #{id}
    </select>

    <select id="searchMovie" resultMap="movieResultMap">
        select * from movies
        <where>
            <if test="searchMessage != null and searchMessage != ''">
                and name like concat('%', #{searchMessage}, '%')
                or published_year like concat('%', #{searchMessage}, '%')
                or type like concat('%', #{searchMessage}, '%')
                or rate like concat('%', #{searchMessage}, '%')
            </if>
        </where>
    </select>
    <select id="calculateAverageRating" resultType="java.lang.Double">
        select avg(preference) from (select preference from movie_preferences where movieID = #{movieId}) as sub
    </select>

</mapper>