
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(31, 185, 206);
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;

}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}




/* 导航栏容器 */
.navbar {
    /*border: 2px solid #000;*/
    overflow: hidden;
    background-color: rgb(31, 185, 206);
    font-family: Arial;
    /*height: 62px;*/
    align-items: center;
}


/* 下拉容器 */
.dropdown {
    float: right;
    overflow: hidden;
    /*height: 60px;*/
}

/* 下拉按钮 */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* 对手机垂直对齐很重要 */
    margin: 0; /* 对手机垂直对齐很重要 */
}

/* 导航栏内的链接 */
.navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* 为悬停时的导航栏链接添加红色背景颜色 */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #00b2ff;
}

/* 下拉内容（默认隐藏）*/
.dropdown-content {
    font-size: 16px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;color: rgb(31, 185, 206);
    z-index: 1;
}

/* 下拉列表中的链接 */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

/* 为悬停时的下拉链接添加灰色背景颜色 */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* 悬停时显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

#search{
    width: 200px;
    padding: 10px;
    margin-left: 330px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*border-top-right-radius: 5px; !* 圆化左上角 *!*/
    /*border-bottom-right-radius: 5px; !* 圆化左下角 *!*/
    transition: border-color 0.3s;
}

/*#search-image{*/
/*    !*background-size: contain; !* 根据按钮大小自适应背景图片尺寸 *!*!*/
/*    !*background-repeat: no-repeat; !* 防止图片重复平铺 *!*!*/
/*    !*background-color: #fff;*!*/
/*    margin-top: 8px;*/
/*    margin-left: 300px;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    border-top-left-radius: 5px; !* 圆化左上角 *!*/
/*    border-bottom-left-radius: 5px; !* 圆化左下角 *!*/
/*}*/