body{
    background-color: rgb(245, 245, 245);
}
/* search function part */
.search-container h1{
    color: #414141;
}

.search-container{
    background-color: rgba(160, 203, 213,0.6);
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-container h1{
    margin-left: 350px;
    color: #333333;
}

.search-text{
    margin-left: 50px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 42px;
    width: 600px;
    font-family: Arial;
    font-size: medium;
    text-indent: 20px;
}

.search-button1{
    background-image: url("../image/search.png");
    height: 42px;
    width: 42px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 1px solid #ccc;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}


/* result part */
.content-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.result{
    background-color: #fff;
    height: 200px;
    width: 650px;
    border-radius: 20px;
    border: 2px solid #ccc;
    margin-top: 35px;
    margin-left: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /*子元素布局*/
    display: flex;
    flex-direction: row;
}
.movie-photo{
    max-height: 160px;
    width: auto;
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.detail{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}
.rank-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.movie-name{
    margin-top: 27px;
    margin-bottom: 0;
}

.time{
    margin: 0;
}
.category{
    margin-top: 15px;
}


/* star part */
.fa-star {
    margin-left: 3px;
    margin-top: 5px;
    font-size: 1.2em;
    color: #ffd700;
}
a {
    text-decoration: none; /* 移除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
}
.inactive {
    display: none;
}

/* 在超链接被点击后不改变颜色 */
a:visited {
    color: inherit; /* 继续继承父元素的字体颜色 */
}